# Managed by Ansible

[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart=/usr/bin/kube-apiserver \
  --enable-admission-plugins=NamespaceLifecycle,LimitRanger,SecurityContextDeny,ServiceAccount,ResourceQuota \
  --advertise-address=10.0.2.15 \
  --allow-privileged=true \
  --apiserver-count=3 \
  --authorization-mode=ABAC \
  --authorization-policy-file=/var/lib/kubernetes/authorization-policy.jsonl \
  --bind-address=0.0.0.0 \
  --etcd-cafile=/var/lib/kubernetes/ca.pem \
  --kubelet-certificate-authority=/var/lib/kubernetes/ca.pem \
{% if private_ip_address is defined %}
--etcd-servers={% for node in groups['nodeType_etcd'] %}http://{{ private_ip_address }}:2379{% if not loop.last %},{% endif %}{% endfor %} \
{% else %}
--etcd-servers={% for node in groups['nodeType_etcd'] %}http://{{ hostvars[node].ansible_eth1.ipv4.address }}:2379{% if not loop.last %},{% endif %}{% endfor %} \
{% endif %}
  --service-account-key-file=/var/lib/kubernetes/kubernetes-key.pem \
  --service-account-signing-key-file=/var/lib/kubernetes/kubernetes-key.pem \
  --service-account-api-audiences=api,istio-ca \
  --service-account-issuer=kubernetes.default.svc \
  --service-cluster-ip-range=192.168.50.0/24 \
  --service-node-port-range=30000-32767 \
  --tls-cert-file=/var/lib/kubernetes/kubernetes.pem \
  --tls-private-key-file=/var/lib/kubernetes/kubernetes-key.pem \
  --token-auth-file=/var/lib/kubernetes/token.csv \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
