[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
  ExecStart=/usr/bin/kube-apiserver \
  --advertise-address={{ ansible_eth0.ipv4.address }} \
  --allow-privileged=true \
  --apiserver-count=3 \
  --audit-log-maxage=30 \
  --audit-log-maxbackup=3 \
  --audit-log-maxsize=100 \
  --audit-log-path=/var/log/audit.log \
  --authorization-mode=Node,RBAC \
  --bind-address=0.0.0.0 \
  --client-ca-file=/var/lib/kubernetes/{{ trusted_ca_file }} \
  --enable-admission-plugins=NamespaceLifecycle,NodeRestriction,LimitRanger,ServiceAccount,DefaultStorageClass,ResourceQuota \
  --etcd-cafile=/var/lib/kubernetes/{{ trusted_ca_file }} \
  --etcd-certfile=/var/lib/kubernetes/{{ kubernetes_cert_file }} \
  --etcd-keyfile=/var/lib/kubernetes/{{ kubernetes_key_file }} \
  --etcd-servers={% for host in groups['nodeType_etcd'] %}https://{{ hostvars[host].ansible_eth0.ipv4.address }}:2379{% if not loop.last %},{% endif %}{% endfor %} \
  --event-ttl=1h \
  --kubelet-certificate-authority=/var/lib/kubernetes/{{ trusted_ca_file }} \
  --kubelet-client-certificate=/var/lib/kubernetes/{{ kubernetes_cert_file }} \
  --kubelet-client-key=/var/lib/kubernetes/{{ kubernetes_key_file }} \
  --runtime-config='api/all=true' \
  --service-account-key-file=/var/lib/kubernetes/{{ service_account_cert_file }} \
  --service-account-signing-key-file=/var/lib/kubernetes/{{ service_account_key_file }} \
  --service-account-issuer=api \
  --service-cluster-ip-range=10.32.0.0/24 \
  --service-node-port-range=30000-32767 \
  --tls-cert-file=/var/lib/kubernetes/{{ kubernetes_cert_file }} \
  --tls-private-key-file=/var/lib/kubernetes/{{ kubernetes_key_file }} \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
