[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart=/usr/bin/kube-controller-manager \
  --bind-address=0.0.0.0 \
  --cluster-cidr=10.200.0.0/16 \
  --cluster-name=kubernetes \
  --cluster-signing-cert-file=/var/lib/kubernetes/{{ trusted_ca_file }} \
  --cluster-signing-key-file=/var/lib/kubernetes/{{ trusted_ca_key_file }} \
  --kubeconfig=/var/lib/kubernetes/{{ inventory_hostname }}.kubeconfig \
  --leader-elect=true \
  --root-ca-file=/var/lib/kubernetes/{{ trusted_ca_file }} \
  --service-account-private-key-file=/var/lib/kubernetes/{{ service_account_key_file }} \
  --service-cluster-ip-range=10.32.0.0/24 \
  --use-service-account-credentials=true \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
