[Unit]
Description=etcd
Documentation=https://github.com/coreos

[Service]
ExecStart=/usr/bin/etcd \
  --name {{ inventory_hostname }} \
  {# --auto-tls \
  --peer-auto-tls \
  --peer-client-cert-auth \
  --client-cert-auth \
  --cert-file=/etc/etcd/kubernetes.pem \
  --key-file=/etc/etcd/kubernetes-key.pem\
  --peer-cert-file=/etc/etcd/kubernetes.pem \
  --peer-key-file=/etc/etcd/kubernetes-key.pem \
  --trusted-ca-file=/etc/etcd/ca.pem \
  --peer-trusted-ca-file=/etc/etcd/ca.pem \ #}
  --heartbeat-interval=1000 \
  --election-timeout=20000 \
  --data-dir=/var/lib/etcd \
{% if private_ip_address is defined %}
  --initial-advertise-peer-urls http://{{ private_ip_address }}:2380 \
  --listen-peer-urls http://{{ private_ip_address }}:2380 \
  --advertise-client-urls http://{{ private_ip_address }}:2379 \
  --listen-client-urls http://{{ private_ip_address }}:2379,http://127.0.0.1:2379 \
{% else %}
  --initial-advertise-peer-urls http://{{ ansible_eth1.ipv4.address }}:2380 \
  --listen-peer-urls http://{{ ansible_eth1.ipv4.address }}:2380 \
  --advertise-client-urls http://{{ ansible_eth1.ipv4.address }}:2379 \
  --listen-client-urls http://{{ ansible_eth1.ipv4.address }}:2379,http://127.0.0.1:2379 \
{% endif %}
  --discovery {{ service_token.stdout }} \
  --initial-cluster-state new \
  --initial-cluster-token etcd-cluster-0

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
